$appBase: #da1414;
$appBaseLight: #feefef;
$appBase2: #d84a4a;
$appBase3: #b40303;

$textBaseDark: #2d2d2d;
$textBaseLight: #7d7d7d;

/* gray */
$grayBase: #f7f8f9;

$grayBaseLight1: #f9fafb;
$grayBaseLight2: #f3f5f9;
$grayBaseLight3: #d5dceb;

$grayBaseDark1: #7d8596;
$grayBaseDark2: #444c53;
/* gray */

/* dark */
$darkBase: #0f1012;
/* dark */
